*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html{
    scroll-behavior: smooth;
}
/*------------------ Menu Bar ------------------------*/
.menu{
    text-decoration: none;
    color: white;
    font-weight: bold;
    border: 2px solid white;
    padding: 5px 15px;
    border-radius: 12px;
}
.navbar{
    position: relative;
    z-index: 999;
}
.menu:hover{
    background-color: white;
    color: black;
}
/*--------------- Home Page Design ------------------*/
.home{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    background-color:rgb(235, 228, 235);
    padding: 10px;
}
.home div{  
    width: 500px; 
}
.home-content{
    min-height: 300px;
    padding: 20px 10px;
    font-weight: bold;
}
.heading{
    font-size: 60px;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
    text-shadow: 2px 2px 1px black, -2px -2px 1px black,-2px 2px 1px black,2px -2px 1px black;
}
 .buy{
    background-color: black;
    color: white;
    padding: 5px 10px;
    font-weight: bold;
    margin-top: 10px;
}
.buy:hover{
    background-color: white;
    color: black;
    border: 2px double black;
}
.home-image{
    margin-top: 10px;
     height: 400px;
     background-image: url("./images/h2.png");
     background-position: center;
     background-size: cover;
}
/*------------------- About Page -----------------------------*/
.about{
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}
.about-content{
    width: 400px;
    padding:50px 10px;

}
.heading1{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}
.about div{
    min-height: 500px;
}
.offer{
    width: 150px;
    height: 150px;
}
.about-img{
    width: 600px;
    /* background-image: url("./images/a1.jpg"); */
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: end;
    padding: 10px;
    animation: image 10s linear infinite;
    transition: 1.5s;
}
@keyframes image {
    0%{
        background-image: url("./images/a1.jpg");
    }
    50%{
        background-image: url("./images/b3.png");
    }
    75%{
        background-image: url("./images/b1.jpg");
    }
    100%{
        background-image: url("./images/b4.jpg");
    }
    
}
/*---------------------- Products Page ----------------------------------*/
.product{
    min-height: 100vh;
}
button a{
    text-decoration: none;
    color: white;
}
button:hover a{
    color: black;
}
.product-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 20px;
    padding: 10px;
}
.product-card .card-design{
    width: 300px;
    height: 420px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    box-shadow:0px 0px 2px 3px gray ;
    border-radius: 10px;
}
.tv{
    width: 200px;
    height: 200px;
    object-fit: cover;
}
/*--------------------- Footer Page ---------------------*/
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    background-color: black;
    color: white;
    padding: 20px 10px;
}
.footer div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 320px;
    min-height: 200px;
    text-align: center;
    padding:10px;
    border: 2px solid black;
    border-radius: 10px;
}
.footer div:hover{
    border: 2px solid white;
}
.footer i{
    font-size: 40px;
    margin-bottom: 20px;
}
/*------------------ TV Show Room -------------------*/
.login{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("./images/form3.jpg");
    background-position: center;
    background-size: cover;
}
form{
    width: 400px;
    min-height: 500px;
    box-shadow: 0px 0px 2px 3px black;
    border-radius: 10px;
    padding: 20px 10px;
    background-image: url("./images/form2.png");
    background-position: center;
    background-size: cover;
    color: white;
    font-weight: bold;
}
label{
    font-size: 18px;
}
#number,#numerr{
    color: red;
    font-size: 16px;
}
/*-------------------------- Thank You Page -------------------------*/
.tq-page{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tq{
    width: 100%;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    padding: 20px;
}
.thank{
    width: 600px;
    height: 400px;
    object-fit: cover;
}
/*------------------------------------ Media Quary ---------------------------*/
@media screen and (min-width:300px) and (max-width:800px){
  .login{
    width: 100%;
    padding: 10px;
  }  
  form{
    width: 100%;
  }
   .thank{
    width: 100%;
   }
}